/*common*******************************************************STR*/
body,
button,
input,
textarea,
selection {
  font-family: 'NanumSquareOTFR';
  color: #555;
  background: #090804;
  word-break: keep-all;
  margin: 0px;
}

button,
a {
  cursor: pointer;
}
.fontContainer {
  background: unset;
  position: absolute;
}

div {
  box-sizing: border-box;
}

.mt0 {
  margin-top: 0px !important;
}
