.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  background: rgba(9, 8, 4, 0.3);
}
.headerContents {
  background: unset;
  top: 0;
  display: flex;
  height: 88px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 10vw;
  position: relative;
}

.header .leftContainer {
  display: flex;
  left: 0;
  position: absolute;
}

.header .title {
  opacity: 0.7;
  font-family: ghanachoco;
  font-size: 29.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.48px;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}

.header .leftContainer a {
  margin-right: 44px;
  font-family: Futura;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.15px;
  text-align: left;
  color: #c88b60;
}

.header .leftContainer .overview {
  font-family: Futura;
}

.header .rightContainer {
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .rightContainer input {
  width: 134px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px #c88b60;
  padding: 0px 10px;
}
.header .rightContainer .inputContainer {
  margin-right: 18px;
}
.header .rightContainer .buttonContainer {
  display: flex;
}

.header .rightContainer input::placeholder {
  color: #b49c82;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.15px;
  text-align: left;
  color: #865d3f;
}

.header .rightContainer button {
  width: 97px;
  height: 30px;
  border: solid 1px #c88b60;
  border-radius: 2px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}
.header .rightContainer .login {
  background-color: #87552d;
  color: #c88b60;
}
.header .rightContainer .join {
  color: #c88b60;
}
.banner {
  position: relative;
}

.banner > img {
  width: 100%;
}
.banner1 .fontContainer {
  left: 13vw;
  top: 38%;
}
.banner1 .bannerLargeFont {
  display: flex;
  font-family: Roboto;
  font-size: 58px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.58px;
  text-align: left;
  color: #ffffff;
}

.banner1 .bannerLargeFont div {
  animation-fill-mode: forwards;
  transform: scale(0);
}
.banner1 .bannerSmallFont {
  margin-top: 40px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: -0.4px;
  text-align: left;
  color: #bb9364;
  max-width: 33.5vw;
  animation-fill-mode: forwards;
  opacity: 0;
}

.banner2 .fontContainer {
  left: 13vw;
  top: 38%;
}
.banner2 .bannerLargeFont {
  display: flex;
  font-family: Roboto;
  font-size: 58px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: -0.58px;
  text-align: left;
  color: #ffffff;
}

.banner2 .bannerLargeFont div {
  animation-fill-mode: forwards;
  transform: scale(0);
}
.banner2 .bannerSmallFont {
  margin-top: 40px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
  max-width: 33.5vw;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes dice1Animation {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-90%);
  }
  30% {
    transform: translateY(30%) rotate3d(1, 1, 1, -30deg);
  }
  33% {
    transform: translateY(26%) rotate3d(1, 1, 1, 30deg);
  }
  50% {
    transform: translateY(0);
  }
  57% {
    transform: translateY(0%);
  }
  64% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dice2Animation {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.banner2 .dice1 {
  z-index: 10;
  width: 17vw;
  position: absolute;
  top: 47%;
  right: 24vw;
}
.banner2 .dice2 {
  width: 9vw;
  position: absolute;
  top: 27%;
  right: 19vw;
}
.banner2 .diceShadow {
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
}
.dice1Animation {
  animation-timing-function: ease-in-out;
  animation-name: dice1Animation;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}
.dice2Animation {
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-name: dice2Animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes showStepFont {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeFont {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bannerScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.fadeFont {
  animation-name: fadeFont;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
.showStepFont {
  animation-name: showStepFont;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
.goldSmallFont {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 9px;
  text-align: left;
  color: #9b805e;
}
.goldLargeFont {
  margin-top: 55px;
  font-family: Roboto;
  font-size: 58px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 1.45px;
  text-align: left;
  color: #bb9364;
}

.whiteSmallFont {
  margin-top: 37px;
  font-family: NanumSquareOTFR;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: -0.5px;
  text-align: left;
  color: #fff8f0;
  max-width: 32vw;
}
.smallBanner {
  height: 372px;
  position: relative;
}
.smallBanner img {
  animation-fill-mode: forwards;
  position: absolute;
}
.smallBanner img:hover {
  animation-name: bannerScale;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.rollingGameContainer {
  background-color: #1e170e;
  padding-top: 53px;
}

.rollingGameContainer img {
  right: 3vw;
}

.rollingGameContainer .fontContainer {
  left: 10vw;
  top: 104px;
}

.casinoMgmEventContainer {
  background-color: #110f0c;
}

.casinoMgmEventContainer img {
  left: 3vw;
}

.casinoMgmEventContainer .fontContainer {
  right: 17vw;
  top: 104px;
}

.rouletteContainer {
  background-color: #423221;
  padding-top: 49px;
}

.rouletteContainer img {
  right: 6vw;
}

.rouletteContainer .fontContainer {
  left: 10vw;
  top: 104px;
}

.bottomContainer {
  padding: 100px 10vw;
  background: url('../images/bottom-background.png') no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  width: 100%;
}

.bottomContent {
  padding: 124px 72px 39px;
  position: relative;
  flex: 1;
  margin-left: 40px;
  border: solid 1px #e1ded9;
  background-color: rgba(32, 33, 34, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottomContent:first-child {
  margin-left: unset;
}

.bottomContent > img {
  position: absolute;
  right: 41px;
  top: 33px;
}

.bottomContent > .title {
  font-size: 29px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.28;
  letter-spacing: -0.73px;
  text-align: left;
  color: #ffffff;
}

.bottomContent ul {
  font-size: 12.5px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 20.5px;
  letter-spacing: -0.31px;
  text-align: left;
  color: #f0d5c2;
  padding-inline-start: 12px;
}

.bottomContent ul li {
  margin-bottom: 12px;
  cursor: pointer;
}

.bottomContent button {
  width: 62px;
  height: 26px;
  margin-top: 73px;
  border: solid 1px #c88b60;
  background-color: rgba(0, 0, 0, 0);
  font-family: Roboto;
  font-size: 12.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 5.28;
  letter-spacing: 0.31px;
  color: #c88b60;
  align-items: center;
  justify-content: center;
  display: flex;
  align-self: center;
}

.mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

#root.filter {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  top: 0;
}

.mask .popupContainer::-webkit-scrollbar {
  width: 10px;
}
.mask .popupContainer::-webkit-scrollbar-thumb {
  background-color: rgba(127, 87, 60, 0.5);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.mask .popupContainer::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
.mask .popupContainer {
  display: none;
  height: 90vh;
  overflow-y: auto;
}

.mask .popup {
  position: relative;
  width: 65vw;
  background-image: url('../images/joinBg.png');
  background-color: #070707;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right -2vw bottom 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15vw;
}

.mask .popup .btnClose {
  position: absolute;
  right: 50px;
  top: 50px;
}

.mask .popup .title {
  margin-top: 68px;
}

.mask .popup .goldTitle {
  margin-top: 53px;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: -0.75px;
  text-align: center;
  color: #c88b60;
}

.joinPopup .contents {
  margin: 93px 0 68px;
  width: 100%;
}
.popup .inputContainer {
  display: flex;
  flex: 1;
  position: relative;
  margin-top: 36px;
}
.popup .inputContainer .name {
  padding-top: 8px;
  flex-basis: 30%;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: -0.4px;
  text-align: left;
  color: #c88b60;
}
.popup .inputContainer .value {
  flex-basis: 70%;
}

.popup .inputContainer .value input::placeholder {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: -0.4px;
  text-align: left;
  color: #7f573c;
}

.popup .inputContainer .value textarea::placeholder {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: -0.4px;
  text-align: left;
  color: #7f573c;
}
.popup .inputContainer .iconCheck {
  position: absolute;
  right: 1px;
  top: 10px;
}
.popup .inputContainer .phoneCheckBtn {
  width: 105px;
  height: 30px;
  position: absolute;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: -0.75px;
  color: #ffffff;
  right: 3px;
  top: 8px;
}
.popup .inputContainer .value input {
  box-sizing: border-box;
  padding: 8px;
  font-family: Roboto;
  font-size: 20.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.21px;
  text-align: left;
  color: #ffffff;
  border: 0px;
  background: unset;
  border-bottom: 2px solid rgba(200, 139, 96, 0.6);
  width: 100%;
}
.popup .inputContainer .value textarea {
  height: 162px;
  box-sizing: border-box;
  padding: 8px;
  font-family: Roboto;
  font-size: 20.5px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.21px;
  text-align: left;
  color: #ffffff;
  border: 0px;
  background: unset;
  border: 2px solid rgba(200, 139, 96, 0.6);
  width: 100%;
}

.popup .inputContainer .value .redMessage {
  margin-top: 9px;
  font-family: NanumSquareOTFR;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1em;
  letter-spacing: -0.33px;
  text-align: left;
  color: #fc5356;
}
.popup .goldButton {
  border-radius: 2px;
  background-color: #87552d;
  color: #ffffff;
  border: 0px;
}

.popup .submitBtn {
  width: 288px;
  height: 56px;
  margin: 75px 39px 46px 64px;
  padding: 19px 114px 19px 113px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.89;
  letter-spacing: -0.9px;
}

.mask .depositPopup .popup {
  padding: 0 3vw;
}

.popup .topAreaContainer {
  display: flex;
  margin-top: 54px;
  width: 100%;
}
.popup .topAreaContainer img {
  object-fit: contain;
}
.popup .topAreaContainer .topItem {
  border: solid 1px #7b563c;
  padding: 45px 37px;
  margin-left: 26px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.popup .topAreaContainer .topItem .text {
  margin-top: 27px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: -0.33px;
  text-align: center;
  color: #b77f57;
}
.popup .topAreaContainer .topItem:first-child {
  margin-left: unset;
}

.popup .goldAreaContainer {
  margin-top: 35px;
  padding: 25px;
  background-color: rgba(127, 87, 60, 0.5);
}
.popup .goldText1 {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.45px;
  text-align: center;
  color: #c88b60;
}
.popup .goldText2 {
  margin-top: 23px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.38px;
  text-align: center;
  color: #c88b60;
}
.popup .goldText3 {
  margin: 9px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: -0.4px;
  text-align: left;
  color: #7f573c;
}

.depositPopup .contents {
  margin-top: 136px;
  width: 75%;
}
.depositPopup .inputContainer .name {
  flex-basis: 20%;
}

.depositPopup .inputContainer .value {
  flex-basis: 30%;
}

.depositPopup .inputContainer .subContainer {
  flex-basis: 50%;
}
.depositPopup .inputContainer .buttonContainer {
  display: flex;
  margin: 9px;
}
.depositPopup .inputContainer .goldButton {
  height: 30px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: 0.38px;
  color: #ffffff;
  flex: 1;
}
.depositPopup .inputContainer .blackButton {
  margin-right: 10px;
  height: 30px;
  border-radius: 2px;
  border: solid 1px #c88b60;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.07;
  letter-spacing: -0.75px;
  color: #c88b60;
  flex: 1;
}
.depositPopup .inputContainer .textareaContainer {
  flex-basis: 80%;
}

.depositPopup .bottomTextContainer {
  width: 100%;
  margin: 186px 0 90px;
  padding-top: 16px;
  border-top: 1px solid #7b563c;
}

.depositPopup .bottomSmallText {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.85;
  letter-spacing: -0.33px;
  text-align: left;
  color: #b77f57;
}
